absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
altair==5.5.0
altex==0.2.0
annotated-types==0.7.0
anyio==4.10.0
asn1crypto==1.5.1
async-timeout==5.0.1
attrs==25.4.0
azure-ai-agents==1.1.0
azure-ai-projects==1.0.0
azure-core==1.35.1
azure-identity==1.25.0
azure-storage-blob==12.26.0
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4==4.14.2
blinker==1.9.0
boto3==1.40.59
botocore==1.40.59
build==1.3.0
cachetools==6.2.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
chromadb==1.4.0
click==8.3.0
cloudpickle==3.1.1
coloredlogs==15.0.1
contourpy==1.3.3
cryptography==45.0.7
curl_cffi==0.13.0
cycler==0.12.1
dataclasses-json==0.6.7
dill==0.4.0
distro==1.9.0
duckduckgo_search==8.1.1
durationpy==0.10
entrypoints==0.4
et_xmlfile==2.0.0
Faker==39.0.0
favicon==0.7.0
filelock==3.20.0
Flask==3.1.2
flatbuffers==25.12.19
fonttools==4.60.1
free_proxy==1.1.3
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2025.9.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.45.0
google-auth-httplib2==0.3.0
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.71.2
h11==0.16.0
h5py==3.14.0
hf-xet==1.2.0
htbuilder==0.9.0
html2text==2025.4.15
httpcore==1.0.9
httplib2==0.31.0
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
humanfriendly==10.0
idna==3.10
importlib_metadata==8.7.1
importlib_resources==6.5.2
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keras==3.11.3
kiwisolver==1.4.9
kubernetes==34.1.0
langchain==1.0.2
langchain-aws==1.0.0
langchain-classic==1.0.0
langchain-community==0.4
langchain-core==1.0.1
langchain-mistralai==1.0.1
langchain-ollama==1.0.0
langchain-openai==1.0.1
langchain-text-splitters==1.0.0
langgraph==1.0.1
langgraph-checkpoint==3.0.0
langgraph-prebuilt==1.0.1
langgraph-sdk==0.2.9
langsmith==0.4.38
lxml==6.0.2
Markdown==3.10
markdown-it-py==4.0.0
markdownlit==0.0.7
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.7
mdurl==0.1.2
minify_html==0.18.0
ml_dtypes==0.5.3
mmh3==5.2.0
mpire==2.10.2
mpmath==1.3.0
msal==1.33.0
msal-extensions==1.3.1
multidict==6.7.0
multiprocess==0.70.18
multitasking==0.0.12
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.7.0
nltk==3.9.2
numpy==2.3.3
oauthlib==3.3.1
ollama==0.6.0
onnxruntime==1.23.2
openai==2.6.1
openpyxl==3.1.5
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
optree==0.17.0
orjson==3.11.4
ormsgpack==1.11.0
overrides==7.7.0
packaging==25.0
pandas==2.3.3
peewee==3.18.2
pillow==11.3.0
platformdirs==4.5.0
playwright==1.55.0
plotly==6.3.1
posthog==5.4.0
primp==0.15.0
prometheus_client==0.23.1
propcache==0.4.1
proto-plus==1.27.0
protobuf==5.29.5
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.3
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.11.9
pydantic-settings==2.11.0
pydantic_core==2.33.2
pydeck==0.9.1
pyee==13.0.0
pygame==2.6.1
Pygments==2.19.2
PyJWT==2.10.1
pymdown-extensions==10.19.1
pyOpenSSL==25.3.0
pyparsing==3.2.5
pypdf==6.5.0
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.1.0
rpds-py==0.27.1
rsa==4.9.1
s3transfer==0.14.0
scikit-learn==1.7.2
scipy==1.16.2
scrapegraph_py==1.38.0
scrapegraphai==1.63.1
seaborn==0.13.2
semchunk==3.2.3
setuptools==80.9.0
shellingham==1.5.4
simpleeval==1.0.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowflake-connector-python==4.1.1
snowflake-snowpark-python==1.44.0
sortedcontainers==2.4.0
soupsieve==2.8
SQLAlchemy==2.0.44
st-annotated-text==4.0.2
st-theme==1.2.3
streamlit==1.50.0
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-chat==0.1.1
streamlit-embedcode==0.1.2
streamlit-extras==0.7.8
streamlit-image-coordinates==0.4.0
streamlit-keyup==0.3.0
streamlit-notify==0.3.1
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit_faker==0.0.4
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.2
tqdm==4.67.1
ttkbootstrap==1.14.7
typer==0.21.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
undetected-playwright==0.3.0
uritemplate==4.2.0
urllib3==2.3.0
uvicorn==0.40.0
uvloop==0.22.1
validators==0.35.0
watchfiles==1.1.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
xxhash==3.6.0
yarl==1.22.0
yfinance==0.2.66
zipp==3.23.0
zstandard==0.25.0
